# Token do Bot do Discord
TOKEN=seu_discord_token_aqui

# Configuração do MariaDB / MySQL (CasaOS / Homelab)
DB_HOST=100.82.130.114
DB_PORT=3306
DB_USER=seu_usuario_mariadb
DB_PASS=sua_senha_mariadb
DB_NAME=nome_do_banco_de_dados

# Chave de API da Riot Games (para comandos de League of Legends)
RIOT_API_KEY=sua_riot_api_key_aqui
